* {
  box-sizing: border-box;
}

body {
  background-image:url(../img/photo1.jpg);
  background-size: 100%;

}

#logo {
  height:8%;
  width:8%
}

#regForm {
  background-color: rgba(245,175,0,90%);
  margin: 50px;
  font-family: Raleway;
  padding: 3%;
  width: 30%;
  min-width: 10%;
  position: absolute;
  right: 35px;
  box-shadow: 10px 10px 20px black;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color:white;
  font-weight: bold;
}


input {
  padding: 3%;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  color:white;
  font-weight:bold;
}


button {
  background-color: #525252;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0px 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #525252;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}
